# --- Deep Learning & Vision (YOLOv8, PyTorch, OpenCV) ---
ultralytics>=8.1.0
torch
torchvision
numpy
pandas
python-dateutil
requests
opencv-contrib-python==5.0.0.93 
#버전 충돌 오류: 그대로 git 했는데 한쪽은 opencv-python==5.0.0.93
#다른쪽은 pencv-contrib-python==5.0.0.93 였음
# --- Data & Configuration ---
pyyaml

# --- OS Control & Dataset ---
pyautogui
roboflow
mediapipe==0.10.14
