# --- Deep Learning & Vision (YOLOv8, PyTorch, OpenCV) ---
ultralytics>=8.1.0
torch
torchvision
numpy
opencv-contrib-python==4.10.0.84
pandas
python-dateutil
requests
opencv-contrib-python Version: 5.0.0.93
# --- Data & Configuration ---
pyyaml

# --- OS Control & Dataset ---
pyautogui
roboflow
mediapipe==0.10.14
